<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>    
  </head>
  <body>

    <!-- buttons to toggle zoom -->
<!--     <div id="ui-zoom" class="ui mini">
      <a href="#" id="zoom-in"><img src="images/zoom-in.png"/></a><br/>
      <a href="#" id="zoom-out"><img src="images/zoom-out.png"/></a>
    </div>  --> 
    
    <!-- GUI -->
    <div id="ui-survey" class="ui survey">
      <h4>Surveyed Properties</h4>
      <!-- <h4 class="es">Capas de Propiedad</h4> -->
      <br/>
      <a href="#allLots" id="allLots" class="button">
        <span class="en">All Survey Properties</span>
        <span class="es"></span>
      </a>
      <a href="#allVacant" id="allVacant" class="button">
        <span class="en">Vacant Lots</span>
        <span class="es"></span>
      </a>
      <a href="#allNotVacant" id="allNotVacant" class="button">
        <span class="en">Non-vacant Lots</span>
        <span class="es"></span>
      </a>
      <a href="#allInformalOcc" id="allInformalOcc" class="button">
        <span class="en">Informal Occupancy</span>
        <span class="es"></span>
      </a>
      <a href="#allConstruction" id="allConstruction" class="button">
        <span class="en">All Construction</span>
        <span class="es"></span>
      </a>
      <a href="#allRehab" id="allRehab" class="button">
        <span class="en">Building Rehabs</span>
        <span class="es"></span>
      </a>
      <a href="#allNewBuildings" id="allNewBuildings" class="button">
        <span class="en">New Buildings</span>
        <span class="es"></span>
      </a>
      <hr>
      
      <h4>Survey Photos</h4>
      <br>
      <input type="checkbox" name="photos" class="regular-checkbox photos" value="survey-photos" id="photos">
        <label for="photos"></label><span>Display Photos</span>

    </div>

    <!-- map container -->
    <div id="map"></div>

    <!-- underscore template for dynamically rendering choropleth map legends -->
    <script type="text/template" class="template">
      <h4><%- legend.title %></h4>
      <div class='legend-scale'>
        <ul class='legend-labels'>
          <% _.each( legend.items, function(item){ %>
          <li><span style='background:<%-item.color %>;'></span><%-item.label%></li>
          <% }); %>
        </ul>
      </div>
      <div class='legend-source'>
        Source: <a href="http://www.nyc.gov/html/dcp/html/bytes/dwn_pluto_mappluto.shtml">Map Pluto
        </a>
      </div>
    </script>    

    <!-- javascript libraries -->
    <script src="//libs.cartodb.com/cartodb.js/v3/3.14/cartodb.js"></script>

    <!-- app modules -->
    <script src="js/app.sql.js"></script>
    <script src="js/app.mapstyles.js"></script>
    <script src="js/app.surveylotsui.js"></script>
    <script src="js/app.photos.js"></script>
    <script src="js/main.js"></script>

    <!-- js to load app -->
    <script type="text/javascript">
      // call app.map.init() once the DOM is loaded
      window.addEventListener('DOMContentLoaded', function(){
        app.main.init();   
      });    
    </script>
  </body>
</html>